.card {
  width: 90%;
  height: auto;
}

.card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px 1px rgba(211, 211, 211, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(211, 211, 211, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(211, 211, 211, 0.75);
  border-radius: 25px;
  margin-bottom: 2em;
}

.card__textblock {
  width: 50%;
  height: auto;
  padding: 5%;
  padding-left: 10%;
}

.card__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.card__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

.card__img {
  width: 50%;
  height: auto;
  padding: 5%;
}

.reverse {
  flex-direction: row-reverse;
}

.resize {
  padding-right: 2%;
  padding-left: 5%;
}
