@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.huddle-footer {
    background-color: #00252E;
    color: #fff;
}

.huddle-footer__position {
    max-width: 92%;
    position: relative;
    margin: 50px auto 50px auto;
}

.huddle-footer__logo {
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .footer-content {
        display: block;
    }
    .footer-content__item1 {
        width: 100% !important;
    }
    .footer-content__item4 {
        justify-content: center;
    }
    .footer-copyright {
        text-align: center !important;
    }
    .footer-logo {
        max-width: 153px;
    }
    .footer-location p,
    .footer-phone p,
    .footer-mail a {
        font-size: 14px;
    }
}

.footer-content__item1 {
    padding: 10px;
    width: 35%;
}

.footer-location,
.footer-phone,
.footer-mail {
    display: flex;
    margin-top: 10px;
}

.footer-location__img,
.footer-phone__img,
.footer-mail__img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer-location__adress,
.footer-phone__number {
    padding: 0;
    margin: 0;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-content__item2 {
    padding: 10px;
}

.footer-menu1,
.footer-menu2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-menu__item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-content__item3 {
    padding: 10px;
}

.footer-content__item4 {
    padding: 10px;
    display: flex;
}

.footer-icon-fb,
.footer-icon-twitter,
.footer-icon-insta {
    width: 20px;
    height: 20px;
    margin: 10px 5px 0 5px;
}

.footer-copyright {
    padding: 10px;
    text-align: right;
    font-size: 0.7rem;
}